.image-prompt-form-wrapper {
   
   
    position: sticky;
    top: 27px;
   
    }


    .image-prompt-form-header, .image-prompt-form-header>div {
        align-items: center;
        display: flex;
    }
    .image-prompt-form-header {
        justify-content: space-between;
        margin-bottom: 15px;
        min-height: 25px;
    }
    .body-small {
        font-size: 14px;
        line-height: 1.5em;
    }
    .image-prompt-form-header .surprise-button {
        margin-left: 7px;
    }
    .btn-secondary.btn-filled, .btn-secondary.btn-filled:visited {
        color: #000;
    }
    
    .btn-secondary.btn-filled {
        background-color: #4c77be;
    }
    
    .desktop .image-prompt-btn {
        align-items: center;
        background-color: grey;
        border-left: 1px solid rgba(0,0,0,.05);
        display: flex;
        font-size: 16px;
        height: 100%;
        padding-left: 14px;
        padding-right: 16px;
    }

    .mt-10 {
        margin-top: 7px;
        margin-left: 13px;
    }
    .body-small {
        font-size: 14px;
        line-height: 1.5em;
    }
    .create-page-upload {
        text-align: left;
    }
    .image-prompt-form {
        background: var(--b0);
        border-radius: 6px;
        box-shadow: 0 2px 4px 0 rgb(0 0 82 / 15%);
        overflow: hidden;
        transition: box-shadow .2s ease-in-out;
        width: 85%;
    }